body {
    font-family:monospace;
    background-color: bisque;
}

.header {
    text-align: center;
    background-color: rosybrown;
    padding: 30px;
    font-size: 70px ;
}

.header2 {
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
}

button {
    padding: 20px;
    border-radius: 100%;
    background-color: rgb(228, 228, 228);
    width: 110px;
    height: 110px;
}

button:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
    border-color: goldenrod;
    background-color: rgb(251, 250, 250);
}

#score {
    font-size: 50px;
    color: black;
    padding-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 10px;
    padding: 10px;
    font-size: 30px;
}

.scoreContainer {
    font-size: 40px;
    display: flex;
    gap: 50px;
    padding-top: 40px;  
    padding-bottom: 40px;
    
}

#roundAnnounce {
    font-size: 30px;
}