body {
    font-family:monospace;
    background-image: url(rps-bg4.png);
    background-repeat: no-repeat;
    background-position: 1100px 500px;
    background-size: 500px 500px;
    background-color: #28b4e5;
}

.header {
    text-align: center;
    background-color:midnightblue;
    padding: 30px;
    font-size: 70px;
    color: white;
}

.header2 {
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
}

button {
    border-radius: 0%;
}

img {
    width: 130px;
    height: 130px;
    border-radius: 0%;
    mix-blend-mode: multiply;
    object-fit:scale-down;
   
}


button:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
    border-color: goldenrod;
    background-color: rgb(251, 250, 250);
    cursor:pointer;
}

#score {
    font-size: 50px;
    color: black;
    padding-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 10px;
    padding: 10px;
    font-size: 30px;
}

.scoreContainer {
    font-size: 40px;
    display: flex;
    gap: 50px;
    padding-top: 40px;  
    padding-bottom: 40px;
    
}

#roundAnnounce {
    font-size: 30px;
}

.footer {
    font-size: 25px;
    bottom: 15px;
    position: absolute;
    left: 15px;

}