body {
    font-family: fantasy;
    background-color: aliceblue;
}

.header {
    text-align: center;
    background-color: aliceblue;
    padding: 30px;
    font-size: 70px ;
}

.header2 {
    text-align: center;
    background-color:aliceblue;
    padding: 30px;
    font-size: 40px;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    font-size: 30px;
    padding-top: 10px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

#score {
    font-size: 50px;
    color: black;
    padding-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    gap: 10px;
    padding: 10px;
    font-size: 30px;
}

.scoreContainer {
    font-size: 30px;
    display: flex;
    gap: 50px;
    
}

#roundAnnounce {
    font-size: 30px;
}